<c-select
    name="status"
    value="{{ task.status }}"
    extra_class="w-32"
    attrs="hx-post='{% url 'projects:project_task_update_status' task.pk %}' hx-headers='{&quot;X-CSRFToken&quot;: &quot;{{ csrf_token }}&quot;}' hx-trigger='change' hx-swap='outerHTML'">
    <option value="Not Started" {% if task.status == 'Not Started' %}selected{% endif %}>Not Started</option>
    <option value="In Progress" {% if task.status == 'In Progress' %}selected{% endif %}>In Progress</option>
    <option value="Delayed" {% if task.status == 'Delayed' %}selected{% endif %}>Delayed</option>
    <option value="Completed" {% if task.status == 'Completed' %}selected{% endif %}>Completed</option>
</c-select>
